# Databases
*.db
*.db.bak
*.sqlite

# Runtime data
runtime/

# Dependencies
node_modules/

# Environment
.env

# Logs
*.log
logs/

# OS/editor
.DS_Store
Thumbs.db
.vscode/

#custom
migrate-uploads.js
update.js
